[Unit]
Description=org.freedesktop.secrets agent for pass
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.secrets
ExecStart=%h/.local/bin/pass-secret-service

[Install]
WantedBy=default.target
