.ai
.ai/*
.aiassistant
.aiassistant/*
.claude
.claude/*
*.code-workspace
.codex
.codex/*
.DS_Store
.DS_Store?
.idea
.idea/*
.idea-old
.terraform.lock.hcl
terraform/.terraform.lock.hcl
.vscode
.vscode/*
